.Weather {
  border: 1px solid #dadde1;
  font: arial, sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  border-radius: 7px;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100px;
  line-height: 29px;
  margin: 30px 0 0 0;
}

.Weather ul {
  margin: 30px 0 0 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  float: left;
  height: 64px;
}
.Weather .temperature {
  display: inline-block;
}

.Weather .degrees {
  color: rgb(33, 33, 33);
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}
.Weather .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -22px;
  line-height: 1;
  margin-left: 2px;
}
